*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continer{
    max-width: 1440px;
}
/* header qismi */


/* eng tepa qismi */
header{
    max-width: 1440px;
}
.engTepasi{
    padding: 9px 100px 9px 452px;
    background-color: #454F5B;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 12%;
}
.Обратный{
    margin-left: 197px;
    text-decoration: underline;
}


/* navbar qismi */
nav{
    display: flex;
    padding: 20px 100px;
    /* justify-content: space-between; */
    align-items: center;
}
nav>img{
    margin-right: 101.5px;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
nav a{
    color: #161C24;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    line-height: 23.87px;
}
.Каталог{
    display: flex;
    gap: 8px;
    align-items: center;
}

.right-1{
    display: flex;
    gap: 30px;
    margin-left: 283.1px;
}
.calNumber{
    display: flex;
    gap: 8px;
    align-items: center;
}
.like{
    display:inline;
    margin-right: 24px;
}
.tagchiziq{
    width: 1440px;
    height: 1px;
    background-color: #C4CDD5;
}
/*  main qismi */
main{
     max-width: 1245px;
    margin: 20px 95px 100px 100px ;
}
.Главная{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #141414;
    line-height: 26px;
    margin-bottom: 40px;
}
.Каталог2{
    display: inline-block;
    opacity: 60%;
}
main h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
}
.Каталог3{
    opacity: 60%;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}


.Сбросить{
    border: 1px solid #ADD7FF;
    padding: 7px 72px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.chapCard{
    border: 1px solid #C4CDD5;
    padding: 24px;
    width: 288px;
    height: 460px;
}
.chapCard h5{
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #161C24;
    margin-bottom: 24px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #EDEDED;
    padding-bottom: 16px;
    margin-top: 16px;
}
.flex p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}
.Цена{
    margin-bottom: 16px;
    border: none;
}
.cost{
    border: 1px solid #4295E4;
    padding: 10px 35px 10px 26px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    /* margin-bottom: 16px; */
}
.cost2{
    border: 1px solid #EAEAEA;
    padding: 10px 29px 10px 30px;
}
